.introcontacto {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    padding-top: 20px;
    margin-bottom: 0px;
}
.introcontacto h2 {
    font-size: 28px; 
    color: #333; 
    text-decoration: underline;
    text-align: center; 
}

.introcontacto p {
    font-size: 16px; 
    color: #666; 
    margin-bottom: 15px; 
    text-align: center;
}
/* Estilos para el formulario de contacto */
.contacto-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contacto-form label {
    display: block;
    margin-bottom: 10px;
}

.contacto-form input[type="text"],
.contacto-form input[type="email"],
.contacto-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.contacto-form textarea {
    height: 100px;
    resize: vertical; 
}

.contacto-form button{
    background-color: #F9A602;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



